<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Node Express Site with EJS Hosted on Render</title>
</head>
<body>
	<h1>Node Express Site with EJS Hosted on Render</h1>	
	<div>
		<p>There are <%=books.len%>
	</div>
</body>
</html>